---
import PercentChange from "./PercentChange.astro";
import PercentDifference from "./PercentDifference.astro";
import PercentOfNumber from "./PercentOfNumber.astro";
---

<div class="card shadow-sm">
  <div class="card-body p-5">
    <PercentOfNumber />
    <hr class="my-5" />
    <PercentChange />
    <hr class="my-5" />
    <PercentDifference />
  </div>
</div>
