---
import PercentChange from "./PercentChange.astro";
import PercentDifference from "./PercentDifference.astro";
import PercentOfNumber from "./PercentOfNumber.astro";
import GoogleAd from "./GoogleAd.astro";
---

<div class="d-flex flex-column row-gap-4">
  <PercentOfNumber />
  <GoogleAd id="4963067816"/>
  <PercentChange />
  <GoogleAd id="9832251110"/>
  <PercentDifference />
  <GoogleAd id="5658435911"/>
</div>
