---
import PercentChange from "./PercentChange.astro";
import PercentDifference from "./PercentDifference.astro";
import PercentOfNumber from "./PercentOfNumber.astro";
---

<div class="d-flex flex-column row-gap-4">
  <PercentOfNumber />
  <PercentChange />
  <PercentDifference />
</div>
